header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* CTA */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* HEADER SOCIALS */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ME (PERSONAL PICTURE)*/

.me {
  /* background: linear-gradient(var(--color-primary), transparent); */
  width: 31rem;
  height: 29rem;
  position: absolute;
  left: calc(50% - 15rem);
  margin-top: 6rem;
  border-radius: 13rem 12rem 0 15rem;
  overflow: hidden;
  padding: 5rem 1.5rem 0rem 1.5rem;
  transform: rotate(40deg);
}

.me:hover {
  animation: stuck-shake 270ms 3 linear;
}

@keyframes stuck-shake {
  0% {
    transform: rotate(43deg);
  }
  25% {
    transform: rotate(41deg);
  }
  35% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(43deg);
  }
  60% {
    transform: rotate(41deg);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
/* SCROLL-DOWN TEXT */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

@media screen and (min-width: 1700px) {
  header {
    height: 70vh;
    margin-bottom: 15rem;
  }
  .me {
    width: 36rem;
    height: 34rem;
  }
}

/* MEDIUM-SIZED DEVICES */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* SMALL-SIZED DEVICES */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    /* height: 65vh; */
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
